.section-contact {
  display: flex;
  flex-direction: column;
}

.contact-form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-group input,
.form-group textarea {
  border-radius: 0.25rem;
  background-color: #fff7fb;
  border: 0.15rem solid #ffb6db;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--main-color-light);
  outline: none;
}

.form-group input {
  height: 2.5rem;
  margin-bottom: 0.75rem;
}

.form-group textarea {
  height: 20rem;
  margin-bottom: 0.75rem;
}

.contact-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}

.contact-img {
  width: 100%;
  border-radius: 4px;
}

button[type='submit'],
button[type='reset'] {
  background-color: var(--main-color);
  border: 0;
  color: var(--white-color);
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  font-size: var(--fs-2);
  font-weight: 500;
  cursor: pointer;
  margin: 0 1rem 0.5rem 0;
}

button[type='submit']:hover,
button[type='reset']:hover {
  background-color: var(--main-color-brighter);
}

.contact-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-data p {
  font-size: var(--fs-2);
}

.mail-container {
  font-weight: 700;
  color: var(--main-color);
}

.mail-container:hover {
  color: var(--main-color-brighter);
}

/* 640px */
@media only screen and (min-width: 40rem) {
  .contact-info {
    align-items: center;
    gap: 1rem;
  }

  .contact-form {
    min-width: 13rem;
    max-width: 45%;
  }

  .contact-img {
    min-width: 18rem;
    width: 46%;
  }
}

/* 768px */
@media only screen and (min-width: 48rem) {
  .contact-info {
    gap: 2rem;
  }

  .contact-img {
    width: 21rem;
  }

  .contact-data p {
    font-size: var(--fs-3);
  }
}

/* 1024px */
@media only screen and (min-width: 64rem) {
  .contact-img {
    width: 26rem;
  }
}

/* 1280px */
@media only screen and (min-width: 80rem) {
  .contact-img {
    max-width: 35rem;
  }
}
